.btn-primary {
  color: #FFF;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 0;
  border: 0;
  appearance: none;
  background: transparent;
}

.btn-primary .btn-primary-inner {
  padding: 0 32px;
  background-color: #e62429;
}

.btn-primary .btn-primary-inner::before {
  content: '';
  border-style: solid;
  border-width: 16px 16px 0 0;
  border-color: transparent #e62429 transparent transparent;
  position: absolute;
  top: 0; left: 0;
}

.btn-primary .btn-primary-inner::after {
  content: '';
  border-style: solid;
  border-width: 16px 16px 0 0;
  border-color: #e62429 transparent transparent transparent;
  position: absolute;
  bottom: 0; right: 0;
}

.btn-primary::before{
  content: '';
  height: 16px;
  display: block;
  box-sizing: border-box;
  background-color: #e62429;
  margin-left: 16px;
}

.btn-primary::after{
  content: '';
  height: 16px;
  display: block;
  box-sizing: border-box;
  background-color: #e62429;
  margin-right: 16px;
}
