#homepage.page-wrapper > header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#homepage.page-wrapper > header h1 {
  font-size: 38px;
  color: #FFF;
  display: inline-block;
  padding: 0px 15px 4px;
  background-color: #000;
}
