body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./marvel-background.jpg') no-repeat top center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, p, figure, img, ul, ol, li {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  text-transform: uppercase;
}

/* Helpers
 * ------------------------------------------------ */
.container {
  max-width: 1100px;
  margin: 0 auto;
}
